* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'comfortaa';
  src: url('./assets/fonts/comfortaa-regular-webfont.woff2') format('woff2'),
    url('./assets/fonts/comfortaa-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'comfortaalight';
  src: url('./assets/fonts/comfortaa-light-webfont.woff2') format('woff2'),
    url('./assets/fonts/comfortaa-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'comfortaabold';
  src: url('./assets/fonts/comfortaa-bold-webfont.woff2') format('woff2'),
    url('./assets/fonts/comfortaa-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #f5f5f5;
  background-image: url('./assets/oblaci.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'comfortaa', sans-serif;
}
